:root {
    --background: linear-gradient(to bottom, #c2b6aa 0%, #6780ac 100%);
    --header-background: c2b6aa;
    --text-color: rgb(7, 5, 68);
    --label-color: rgb(75, 102, 98);
    --placeholder-color: rgb(136, 136, 153);
    --offset-color: linear-gradient(to bottom, #c2b6aa 0%, #6780ac 100%);
    --action-color: #c2b6aa;

    --primary-font: 'Rubik', Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans',
        'DejaVu Sans', 'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    height: 100vh;
    font-family: var(--primary-font);
    color: var(--text-color);
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr;
}

.page-header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--header-background);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.page-header .logo {
    height: 100%;
}

.page-header .title {
    font-size: 1.3em;
    font-weight: 800;
    flex-grow: 2;
}

.page-header nav {
    display: flex;
    gap: 10px;
}

main {
    padding: 20px;
}

.avatar {
    height: 36px;
    width: 36px;
    object-fit: cover;
    border: 1px solid var(--placeholder-color);
    border-radius: 100%;
}

.error {
    min-height: 1em;
    color: red;
}

.hidden {
    display: none;
}

*/ .workshops-container {
    width: 80%;
    min-width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.workshop {
    border-radius: 10px;
    border: 2px solid black;
    display: flex;
    margin: 3px;
    padding: 3px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 30px;
    min-width: 250px;
}

.wshop h3 {
    margin: 0;
}
.participants {
    display: flex;
    /* max-width: 200px; */
    margin: 3px;
    padding: 3px;
    flex-wrap: wrap;
}

.participant {
    border-radius: 5px;
    margin: 3px;
    padding: 3px;
    border: dotted 2px white;
    cursor: pointer;
}
